{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Les évènements du SSP Lab {% endblock %}

{% block body %}


<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Evènements et Communauté</h1>
                <p>Par construction, le SSP Lab a une approche collaborative du travail, les expérimentations et autres appuis ayant vocation à être utiles à, et construits avec, une équipe métier. </p>
                <p>De façon plus générale, le SSP Lab s'inscrit dans une communauté, de datascientists comme de personnes simplement intéressées, voire désireuses d'apprendre.</p>
                <p>Plus particulièrement, le SSP Lab : 
                    <li>Fait partie d'une communauté, notamment le SSP Hub mais pas seulement</li>
                    <li>Tente de proposer différents séminaires, et outils de formations</li>
                </p>
                <h3>Séminaires et formations</h3>
                <p>Le SSP Lab organise différents évènements au cours de l'année. En particulier :

                </p>
                <p>

                    <ul>
                        <li>Des séminaires internes permettant de présenter différents travaux à l'état préliminaire. L'information sur ces évènements est disponible sur l'intranet de l'Insee (accessible à l'ensemble du Système Statistique Public).</li>
                        <li><b><a href = "/seminaires">Des séminaires Big Data </a>rassemblant un public assez large autour d'une thématique données</b></li>
                        <li><b>Un évènement de formation appelé <a href = "/funathon">Funathon</a></b></li>
                    </ul>
                </p>
                <p>
                    Une description plus détaillée des différents évènements est présente chaque fois sur la page associée.

                </p>
        </div>
    </div>
    
</div>


{% endblock %}