{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
Lettres Big Data
{% endblock %}

{% block body %}

<div class = "row">
    <div class="col-md-8 card mb-4  mt-3 left  top" disabled>
        <div class="card-body" disabled>
                <h1>Lettre BIG DATA</h1>
                <p>De façon régulière, le SSP Lab envoie à un public large une lettre d'information. Celle-ci peut porter sur des expérimentations en cours,
                    sur des travaux terminés, sur une thématique intéressante, ou encore sur l'actualité plus générale du SSP Lab. 
                </p>
                <p>
                    Cette page permet de retrouver les principales lettres publiées :
                    <ul>
                        <li><b><a href="{% static '/doc/lettres/Lettre big data_n7.pdf' %}">Lettre 9 (avril 2018) :</a> Coopérer pour innover, retour sur le hackathon les Champs de Sirene</b></li>
                        <li><b><a href="{% static '/doc/lettres/Lettre big data_n8.pdf' %}">Lettre 8 (mai 2019) :</a> Images satellites, SPOT en ciel pour la statistique publique ?</b></li>
                        <li><b><a href="{% static '/doc/lettres/lettre big data_n6-Novembre 2017.pdf' %}">Lettre 6 (novembre 2017) :</a> Les données de téléphones mobiles pour la Statistique Publique : quels usages et quelles questions?</b></li>
                        {% static '/img/tools.jpg' %}
                    </ul>
                </p>
               
        </div>
    </div>
    
</div>


    {% endblock %}