{% extends 'home/base.html' %} 
{% load static %}
{% block title %}
L'équipe actuelle du SSP 
{% endblock %}

{% block styles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% endblock %}




{% block body %}
<!-- Section: Team v.1 -->
<section class="team-section text-center my-2">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Comment contacter le SSP Lab ?</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5"></p>
  
  


  </section>

{% endblock %}